.task-view-heading {
    font-weight: bold;
    font-size: 20px;
}

.close-btn {
    outline: none;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (min-width: 580px) {

    .task-view-heading {
        font-size: 30px;
    }

}
