.category-page {
    max-width: 1024px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    background-color: #fff;
}

.category-container {
    max-width: 768px;
}

.categories-list-container {
    max-width: 768px;
    
}

.category-heading {
    font-weight: bold;
    font-size: 20px;
}

@media screen and (min-width: 580px) {

    .category-heading {
        font-size: 30px;
    }
}