.todo-container {
    max-width: 1024px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    background-color: #fff;
}

.form-row {
    display: flex;
    flex-direction: column;
}
.add-task-heading {
    font-weight: bold;
    font-size: 20px;
}

.submit-btn {
    width: 150px;
}

.multi-select-box {
    z-index: 0;
}

@media screen and (min-width: 580px) {
    .form-row {
        flex-direction: row;
        justify-content: space-around;
    }

    .add-task-heading {
        font-size: 30px;
    }
}