.category-list-container {
    margin: 10px 0;
    padding: 8px 7%;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    background-color: #fff;
}

.post-btn-container {
    width: 150px;
    margin: 10px 0;
    margin-left: 10px;
}

.post-btn-container button {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 10px;
}

.btn-edit {
    background-color: green;
    margin-right: 10px;
}

.btn-delete {
    background-color: red;
}

.category-list-container input {
    padding: 8px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid green;
}

.category-list-container input:focus {
    outline: none;
}

.category-list-container input::selection {
    background-color: green;
    color: #fff;
}

@media (min-width: 640px) {
    .post-btn-container button {
        font-size: 20px;
    }

    .category-list-container input {
        font-size: 24px;
    }
}